body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#baslik{
    margin-top: 15px;
}

#hatalar {
    font-size: 20px;
    color: rgb(255, 92, 80);
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    background-color: rgb(211, 240, 167);
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected { /*aşağıdaki rakam listesinden seçileni gri yap*/
    background-color:  rgba(139, 201, 116, 0.995);
}

.number-completed { /* biten rakam silinir */
    color:transparent;
    background-color: transparent;
    border: transparent;
}

.tile-start { /* başta var olan rakamlar belirgin olsun */
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

/*error animasyon*/
@keyframes fadeOut {
    from {
        background-color: rgba(230, 86, 86, 0.5); 
    }
    to {
        background-color: transparent; 
    }
}
